/*Variables*/
:root {
    --color-principal: #FFFFFF;
    --color-secondary: #06B3DE;
    --color-background: #E1E3E8;
    --color-transparent: transparent;
    --color-icon: #B5B6B8;
    --color-black: #1F1F1F;
    --color-subtitle: #6f6e6e;
    --color-text: #555;
}

/*Estilos generales*/


/*Estructura principal*/