/*Variables*/
:root {
    --color-principal: #FFFFFF;
    --color-secondary: #06B3DE;
    --color-background: #E1E3E8;
    --color-transparent: transparent;
    --color-icon: #B5B6B8;
    --color-black: #1F1F1F;
    --color-subtitle: #6f6e6e;
    --color-text: #555;
    --color-title: #222;
}

/*Estilos generales*/
html {
    font-size: 10px;
}

body {
    width: 100%;
    height: auto;
    background-color: var(--color-background);
    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 1.5rem;
    color: var(--color-text);
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-title);
}

/*Imagen de fondo*/
body {
    background-image: url(../img/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -20px -120px;

}

/*Estructura principal*/
.layout {
    position: relative;
    min-width: 1290px;
    width: 60%;
    height: 80vh;
    margin: 10vh auto;
    display: grid;
    grid-template-areas: "aside content";
    grid-template-columns: 30% 70%;
    border-radius: 4rem;
    box-shadow: 0 0 100px rgba(0, 0, 0, .25);
    overflow: hidden;

}